<% layout("layouts/boilerplate") %>

<div class="col-md-10 offset-md-1 text-center mb-5">
  <h1><%= shelter.name %></h1>
  <h3>
    <%= shelter.address.street %>, <%= shelter.address.city %> in
    <%=shelter.address.country %>
  </h3>
  <div>
    <h3>Animals in this shelter:</h3>

    <div class="row">
      <% for( let animal of shelter.animals ) { %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card my-1">
          <img
            height="200px"
            src="<%= animal.image %> "
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title"><%= animal.name %></h5>
            <p class="card-text">
              <%= animal.age.years %> years <%= animal.age.months %> months.
            </p>
            <a href="/animals/<%= animal._id %>" class="btn btn-primary"
              >Details</a
            >
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <div>
    <a
      class="btn btn-success mt-5"
      href="/shelters/<%= shelter._id %>/animals/new"
      >Add new animal</a
    >
  </div>
  <a class="btn btn-info mt-5" href="/shelters/<%= shelter._id %>/edit "
    >Edit</a
  >
  <form
    class="d-inline"
    method="POST"
    action="/shelters/<%= shelter._id %>?_method=DELETE"
  >
    <button class="btn btn-danger mt-5">Delete</button>
  </form>
  <br />
  <a class="btn btn-warning mt-5" href="/shelters">All shelters</a>
</div>
